<h3>login</h3>
<form #formLogin="ngForm" >
  <div class="row mt-1">
    <label class="col-sm-4 text-sm-end">username:</label>
    <div class="col-sm-4">
      <input class="form-control" [(ngModel)]="login.username" name="username" required  pattern="^[a-zA-Z].+" />
    </div>
  </div>

  <div class="row mt-1">
    <label class="col-sm-4 text-sm-end">password:</label>
    <div class="col-sm-4">
      <input class="form-control"  [(ngModel)]="login.password" name="password" required minlength="3" />
    </div>
  </div>

  <div class="row mt-1">
    <label class="col-sm-4 text-sm-end">roles:</label>
    <div class="col-sm-4">
        <input class="form-control"  [(ngModel)]="login.roles" name="roles" required />
    </div>
  </div>

  <div class="row mt-1">
    <label class="col-sm-4"></label>
    <div class="col-sm-4">
      <input  type="button" class="btn btn-primary" value="login" (click)="onLogin()"
        [disabled]="!formLogin.form.valid" />
    </div>
  </div>
</form>
<br/>
message: <span [style.color]="sessionService.isConnected?'green':'red'">{{message}}</span>

